node_modules
dist
*.class
.idea
.mvn
.publish
*.iml
~$*
target

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# dev config file
application-dev.yml
bootstrap-dev.yml
config_dev

# msf code generator scripts
generate.sh
#start.sh
run.sh
list.sh
#stop.sh
#package.sh
